*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

:where(fieldset[class]) {
    border: none;
}

ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: inherit;
    border: none;
}



body {
    min-height: 100vh;
    overflow-x: hidden;
}

label,
button {
    cursor: pointer
}

img,
video {
    max-width: 100%;
    height: auto;
}

html,
:has(:target) {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    font-size: inherit;
}